.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: $color-secondary;
  margin: 0 1rem;

  img {
    margin-right: 5px;
  }
}
.navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-nav {
  .active {
    color: $color-primary !important;
  }
}
